# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Popular languages
* Commonly used libraries 
* Creating tables

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Plotly

| Data Science Tools |
|:-------------------:|
| RStudio |
| PyCharm |
| Jupyter |

Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

#This will convert 200 minutes to hours by diving by 60

In [19]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author ##

Edem Kofi Yevutsey